@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
    .team-container {
        max-width: 296px;
    }
    .footer-container {
        max-width: 428px;
    }

    .mob-menu-tel {
        font-size: 36px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url(../images/hero-bg-tablet-2x.jpg);
        }
    }

    .modal {
        width: 392px;
    }
}